body
{
    margin: 0;
    padding: 0;
}

.backarrow-settings
{
    display: flex;
    justify-content: top;
    align-items: left; 
    flex-direction: column;
    left: 2%;
    margin-right: 30%;
    
}
.backarrow
{
    display: flex;
    justify-content: top;
    align-items: left; 
    flex-direction: column;
    margin-right: auto;
}

.arr 
{
    background: #ffffff00;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: .4s ease;
}

.arr:hover
{
    box-shadow: 0 0 10px 10px rgba(119, 119, 119, 0.283);
}

