
  .search-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-form {
    position: relative;
  }

  #search-label {
    position:absolute;
    right: 8%;
    top: 48%;
    width: 25px;
    height: auto;
    color: #fafafa;
  }
  
  #search-input {
    width: 380px;
    height: 60px;
    border-radius: 25px;
    background-color: rgba(59, 57, 61, 0.34);
    border: 4px solid rgba(255, 255, 255, 0.4);
  }
  
  input::placeholder {
    color: rgb(205, 205, 205);
  }
  
  li {
    list-style: none;
  }

  ul {
    padding-top: 20px;
  }

.star-icon {
  padding-right: 5%;
}

.box
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box a {
    color: white;
  }

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"]
{
    background: #fff;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
input[type="submit"]
{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    height: 40px;
    width: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #737373;
    color: #fff;
}

input[type="submit"]:hover 
{
    background: #5a5a5a;
}

input[type="submit"]::after
{
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-size: 2rem;
    display: block;
}

.search-item{
  width: 300px;
}



