.wrapper {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
  font-family: 'Be Vietnam Pro', sans-serif;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-image:url(/Assets/Pictures/chuttersnap-TSgwbumanuE-unsplash.jpg);
  color: white;
  }

.dark-mode {
  background-image:url(/Assets/Pictures/chuttersnap-TSgwbumanuE-unsplash.jpg);
}

.dark-mode .displayed-info {
  background-color: rgba(49, 1, 99, 0.34);
}

.dark-mode .wind {
  background-color: rgba(49, 1, 99, 0.34);
}

.dark-mode .pressure {
  background-color: rgba(49, 1, 99, 0.34);
}

.dark-mode .humidity {
  background-color: rgba(49, 1, 99, 0.34);
}

header h1 {
    text-align: center;
    padding-top: 30px;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.displayed-info {
  background-color: rgba(255, 255, 255, 0.521);
  opacity: 0.7;
  padding: 20px;
  border-radius: 30px;
  width: 50%;
}

.city {
    font-size: 40px;
    padding: 10px;
}

.day-time {
    font-size: 20px;
    margin-bottom: 10px;
}

.current-weather-icon {
    font-size: 20px;
    margin-bottom: 5px;
}

.current-temperature {
    font-size: 16px;
}

.extra-info-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 100px;
}

.wind, .pressure, .humidity {
  background-color: rgba(255, 255, 255, 0.521);
  opacity: 0.7;
  padding: 30px 10px 30px 10px;
   border-radius: 10px;
}

.text-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#information-text {
  width: 60%;
  text-align: center;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5em;
    border-radius: 15px 15px 0 0;
    background: rgba(243, 232, 255, 0.4);
    backdrop-filter: blur(2px);
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:inherit;
}

.footer__wrapper > a, a:visited {
    text-decoration: none;
    color: black;
}

/* ----Footer for settings page---- */
.settings-footer {
  width: 100%;
  height: 5em;
  border-radius: 15px 15px 0 0;
  background: rgba(243, 232, 255, 0.4);
  backdrop-filter: blur(2px);
}
/* ------------Style for settings page------------*/

.all-toggles {
    font-size: 18px;
    padding: 15px;
}

.eachDiv {
  background-color: rgba(49, 1, 99, 0.34);
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  margin: 3px;
  padding: 10px;
}

h2 {
    font-size: 25px;
}

#tempatureUnit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
}

.radio {
    width: 15px;
    height: 15px;
    display: inline;
}

.AboutApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AboutTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  text-align: center;
}

#checkbox-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 2% 0% 2%;
}

.backarrow-settings {
  position: absolute;
  top: 40px;
  padding-left: 15px;
}

.header-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-header {
  display: flex;
  justify-content: space-evenly;
}

.header p{
  text-align: center;
  font-size: 30px;
}


.kort{
text-align: center;
border-style:solid;
border-color: white;
border-radius: 20px;
background-color: black;
}

.kort a{
  font-size: 30px;
  text-decoration: none;
  color: white;
  position: relative;
  left:25px;
  bottom:5px;
}
.kort h1, h2, h3, h4{
  font-size: 10px;
  text-align: row;
}
span.star-icon{
  position: relative;
  left: 25px;
  bottom: 5px;
}


/* ----Styling på toggle---- */ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 232, 255, 0.6);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 3px;
    background: linear-gradient(180deg,#ffffff,#cdcac4);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(152, 139, 169, 0.6);
  }
  
  input:focus + .slider {
    background: linear-gradient(180deg,#ffffff,#cdcac4);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border: solid 4px rgba(255, 255, 255, 0.4);
    border-radius: 14px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* ----------------- */ 

  .star-icon {
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    
}
.star-icon::before {
    content: '\f005';
    font-family: "Font Awesome 6 Free";
    font-size: 25px;
    margin: 1.2rem 1rem 0;
    color: #E9d5FF;
    font-weight: 400;
}
.star-icon.marked::before {
    font-weight: 900;
}


  /* ---- styling search ---*/
  
  .search-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #search-form {
    position: relative;
  }
  #search-label {
    position:absolute;
    right: 8%;
    top: 48%;
    width: 25px;
    height: auto;
    color: #fafafa;
  }
  #search-input, .search-item {
    width: 380px;
    height: 60px;
    border-radius: 25px;
    background: rgba(49, 1, 99, 0.34);
    border: solid 4px rgba(255, 255, 255, 0.4);
  }
  #search-input {
    width:max-content;
    height: auto;
    border-radius: 25px;
    padding: 15px 180px 15px 15px;
  }
  :is(#search-input:focus) + label {
    display: none;
  }
  li {
    list-style: none;
  }

  ul {
    padding-top: 20px;
    padding-left: 0px;
  }